test -d .direnv || mkdir -p .direnv
now="$(date +%Y-%m-%d)"
if ! test -s .direnv/pull-date || test "$now" != "$(cat .direnv/pull-date)"; then
  git checkout -- flake.lock
  git pull --rebase --autostash
  nix flake lock \
    --update-input nixpkgs
  echo "$now" > .direnv/pull-date
fi
